// Application color pallette //
$brand-primary: #2a4f77;
$brand-primary-light: rgba($brand-primary, 0.25);
$brand-accent: #faa017;
$brand-accent-light: #fceacf;
$brand-inverse: #11bdcf;
$brand-inverse-light: #dbf5f8;
$brand-black: #07374b;
$brand-green: #00e29f;
$brand-green-light: #ccfced;
$brand-red: #fe747d;
$brand-red-light: #ffdcde;
$color-text: #353535;
$color-white: #f5f5f5;
$color-grey-dark: #757575;
$color-grey-light: #c5c5c5;
$border-grey: #d5d5d5;
$border-grey-light: #f1f1f1;
$border-grey-dark: #959595;
$brand-navy: #113255;
$brand-tonic: #f6515b;
$color-mid-blue: #004680;
$color-deep-blue: #033966;
$color-ash: #555555;
$color-ash-lighter: #a8a8a8;
$off-white: #ebebeb;
$white-text: #ffffff;
$black-text: #000000;
$brand-white: #f4f4f4;
$pale-orange: #fceacf;
$soft-black: #161616;
$brand-blue: #0980ee;
// $pale-orange: #3873b3;

// App Color Pallete
$app-color: () !default;
$app-color: map-merge(
  (
    "brand-primary": $brand-primary,
    "brand-primary-light": $brand-primary-light,
    "brand-accent": $brand-accent,
    "brand-accent-light": $brand-accent-light,
    "brand-inverse": $brand-inverse,
    "brand-inverse-light": $brand-inverse-light,
    "brand-black": $brand-black,
    "brand-green": $brand-green,
    "brand-green-light": $brand-green-light,
    "brand-red": $brand-red,
    "brand-red-light": $brand-red-light,
    "color-text": $color-text,
    "color-white": $color-white,
    "color-grey-dark": $color-grey-dark,
    "color-grey-light": $color-grey-light,
    "border-grey": $border-grey,
    "border-grey-light": $border-grey-light,
    "border-grey-dark": $border-grey-dark,
    "brand-navy": $brand-navy,
    "brand-tonic": $brand-tonic,
    "color-deep-blue": $color-deep-blue,
    "color-mid-blue": $color-mid-blue,
    "color-ash": $color-ash,
    "off-white": $off-white,
    "white-text": $white-text,
    "black-text": $black-text,
    "color-ash-lighter": $color-ash-lighter,
    "brand-white": $brand-white,
    "pale-orange": $pale-orange,
    "soft-black": $soft-black,
    "brand-blue": $brand-blue,
  ),
  $app-color
);

/*------------------------------------*\
	App Color Palette
\*------------------------------------*/
@each $color-name, $color in $app-color {
  .#{$color-name} {
    color: $color !important;
  }

  .#{$color-name}-bg {
    background-color: $color !important;
  }

  .border-#{$color-name} {
    border: 1px solid $color !important;
  }

  .border-top-#{$color-name} {
    border-top: 1px solid $color !important;
  }

  .border-bottom-#{$color-name} {
    border-bottom: 1px solid $color !important;
  }
}

/*------------------------------------*\
	Avatar Profiling Color Palette
\*------------------------------------*/
$chestnut: rgb(184, 129, 53);
$pampers: #00a9a4;
$cherry-tomato: #e94b3cff;
$aspen-gold: rgb(218, 174, 55);
$verdant-green: rgb(32, 143, 34);
$orange-shire: #f95700ff;
$fuschia: rgb(46, 204, 99);
$toffee: #755139ff;
$pale-yellow: #ffae00;
$black-cloud: #101820ff;
$navy-blue: #28334aff;
$forest-green: #2c5f2d;
$deep-blue: rgb(1, 59, 131);
$bright-red: #f93822ff;
$crimson: rgb(172, 80, 103);
$royal-blue: rgb(41, 0, 189);
$light-green: #6dac4fff;
$royal-purple: #603f83ff;
$scarlet: rgb(213, 14, 123);
$kelly-green: #339e66ff;
$miami: #e68736;
$deep-purple: rgb(51, 13, 72);
$windsor-wine: #643e46ff;
$sprout: #394141;
$slack: #4a154b;
$fedex: #250c77;

$profile-color: () !default;
$profile-color: map-merge(
  (
    "chestnut": $chestnut,
    "pampers": $pampers,
    "cherry-tomato": $cherry-tomato,
    "aspen-gold": $aspen-gold,
    "verdant-green": $verdant-green,
    "orange-shire": $orange-shire,
    "fuschia": $fuschia,
    "toffee": $toffee,
    "pale-yellow": $pale-yellow,
    "black-cloud": $black-cloud,
    "navy-blue": $navy-blue,
    "forest-green": $forest-green,
    "deep-blue": $deep-blue,
    "bright-red": $bright-red,
    "crimson": $crimson,
    "royal-blue": $royal-blue,
    "scarlet": $scarlet,
    "kelly-green": $kelly-green,
    "miami": $miami,
    "deep-purple": $deep-purple,
    "windsor-wine": $windsor-wine,
    "sprout": $sprout,
    "slack": $slack,
    "fedex": $fedex,
  ),
  $profile-color
);

@each $color-name, $color in $profile-color {
  .#{$color-name} {
    color: $color !important;
  }

  .#{$color-name}-bg {
    background-color: $color !important;
  }

  .border-#{$color-name} {
    border: 1px solid $color !important;
  }
}
