@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?plujki');
  src: url('../fonts/icomoon.eot?plujki#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?plujki') format("truetype"), url('../fonts/icomoon.woff?plujki') format("woff"), url('../fonts/icomoon.svg?plujki#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-caret-down:before {
  content: "\e985";
}

.icon-double-caret-up:before {
  content: "\e987";
}

.icon-edit-area:before {
  content: "\e9da";
}

.icon-linkedin-fill:before {
  content: "\e9db";
}

.icon-accept:before {
  content: "\e900";
}

.icon-activities:before {
  content: "\e927";
}

.icon-add-file:before {
  content: "\e901";
}

.icon-add-group:before {
  content: "\e902";
}

.icon-alarm:before {
  content: "\e903";
}

.icon-alert-circle:before {
  content: "\e904";
}

.icon-align-justify:before {
  content: "\e905";
}

.icon-angle-left:before {
  content: "\e906";
}

.icon-announcement-speaker:before {
  content: "\e907";
}

.icon-app:before {
  content: "\e908";
}

.icon-arrow-left:before {
  content: "\e909";
}

.icon-arrow-right:before {
  content: "\e90a";
}

.icon-assessment:before {
  content: "\e90b";
}

.icon-assignment:before {
  content: "\e90c";
}

.icon-bar-chart:before {
  content: "\e90d";
}

.icon-bar-chart-left:before {
  content: "\e90e";
}

.icon-bar-highest:before {
  content: "\e90f";
}

.icon-bar-lowest:before {
  content: "\e910";
}

.icon-bell:before {
  content: "\e911";
}

.icon-bell-fill:before {
  content: "\e912";
}

.icon-bold:before {
  content: "\e913";
}

.icon-book:before {
  content: "\e914";
}

.icon-book-cover:before {
  content: "\e915";
}

.icon-bookmark:before {
  content: "\e916";
}

.icon-book-pile:before {
  content: "\e917";
}

.icon-briefcase:before {
  content: "\e918";
}

.icon-calendar:before {
  content: "\e919";
}

.icon-calendar-event:before {
  content: "\e91a";
}

.icon-callout:before {
  content: "\e91b";
}

.icon-camera:before {
  content: "\e91c";
}

.icon-caret-down:before {
  content: "\e91d";
}

.icon-caret-fill-down:before {
  content: "\e91e";
}

.icon-caret-fill-left:before {
  content: "\e91f";
}

.icon-caret-fill-right:before {
  content: "\e920";
}

.icon-caret-fill-up:before {
  content: "\e921";
}

.icon-caret-left:before {
  content: "\e922";
}

.icon-caret-right:before {
  content: "\e923";
}

.icon-caret-up:before {
  content: "\e924";
}

.icon-chat:before {
  content: "\e925";
}

.icon-chat-card:before {
  content: "\e926";
}

.icon-check-circle:before {
  content: "\e928";
}

.icon-checked-fill:before {
  content: "\e929";
}

.icon-circle-question-mark:before {
  content: "\e92a";
}

.icon-classboard:before {
  content: "\e92b";
}

.icon-clear:before {
  content: "\e92c";
}

.icon-clock:before {
  content: "\e92d";
}

.icon-close:before {
  content: "\e92e";
}

.icon-cloud-download:before {
  content: "\e92f";
}

.icon-commentary:before {
  content: "\e930";
}

.icon-comment-chat:before {
  content: "\e931";
}

.icon-control:before {
  content: "\e932";
}

.icon-copy:before {
  content: "\e933";
}

.icon-correct:before {
  content: "\e934";
}

.icon-credit-card:before {
  content: "\e935";
}

.icon-curriculum:before {
  content: "\e936";
}

.icon-customer-care:before {
  content: "\e937";
}

.icon-decline:before {
  content: "\e938";
}

.icon-description:before {
  content: "\e939";
}

.icon-discount:before {
  content: "\e93a";
}

.icon-discussion:before {
  content: "\e93b";
}

.icon-discussions:before {
  content: "\e93c";
}

.icon-doc:before {
  content: "\e93d";
}

.icon-docx:before {
  content: "\e93e";
}

.icon-dotted-roller:before {
  content: "\e93f";
}

.icon-dotted-spinner:before {
  content: "\e940";
}

.icon-download:before {
  content: "\e941";
}

.icon-edit-line:before {
  content: "\e942";
}

.icon-edit-pen:before {
  content: "\e943";
}

.icon-ellipsis:before {
  content: "\e944";
}

.icon-ellipsis-h:before {
  content: "\e945";
}

.icon-email:before {
  content: "\e946";
}

.icon-empty-trash:before {
  content: "\e947";
}

.icon-end-call:before {
  content: "\e948";
}

.icon-endorse-check:before {
  content: "\e949";
}

.icon-error-alert:before {
  content: "\e94a";
}

.icon-error-report:before {
  content: "\e94b";
}

.icon-event-cancel:before {
  content: "\e94c";
}

.icon-external-link:before {
  content: "\e94d";
}

.icon-eye:before {
  content: "\e94e";
}

.icon-facebook:before {
  content: "\e94f";
}

.icon-feeds:before {
  content: "\e950";
}

.icon-file:before {
  content: "\e951";
}

.icon-file-plus:before {
  content: "\e952";
}

.icon-files:before {
  content: "\e953";
}

.icon-file-text:before {
  content: "\e954";
}

.icon-filter-icon:before {
  content: "\e955";
}

.icon-filter-lines:before {
  content: "\e956";
}

.icon-flag:before {
  content: "\e957";
}

.icon-folder:before {
  content: "\e958";
}

.icon-formula:before {
  content: "\e959";
}

.icon-full-signal:before {
  content: "\e95a";
}

.icon-gear:before {
  content: "\e95b";
}

.icon-gear-fill:before {
  content: "\e95c";
}

.icon-google:before {
  content: "\e95d";
}

.icon-graduation-cap:before {
  content: "\e95e";
}

.icon-group-users:before {
  content: "\e95f";
}

.icon-hamburger:before {
  content: "\e960";
}

.icon-help-circle:before {
  content: "\e961";
}

.icon-helper:before {
  content: "\e962";
}

.icon-hide:before {
  content: "\e963";
}

.icon-high-volume:before {
  content: "\e964";
}

.icon-image:before {
  content: "\e965";
}

.icon-info:before {
  content: "\e966";
}

.icon-info-italics:before {
  content: "\e967";
}

.icon-insert-space:before {
  content: "\e968";
}

.icon-instagram:before {
  content: "\e969";
}

.icon-invitation:before {
  content: "\e96a";
}

.icon-italic:before {
  content: "\e96b";
}

.icon-jpg:before {
  content: "\e96c";
}

.icon-library:before {
  content: "\e96d";
}

.icon-line-dash:before {
  content: "\e96e";
}

.icon-link:before {
  content: "\e96f";
}

.icon-linkedin:before {
  content: "\e970";
}

.icon-lock-fill:before {
  content: "\e971";
}

.icon-log-out:before {
  content: "\e972";
}

.icon-low-signal:before {
  content: "\e973";
}

.icon-low-volume:before {
  content: "\e974";
}

.icon-map:before {
  content: "\e975";
}

.icon-map-pin:before {
  content: "\e976";
}

.icon-map-pin-sm:before {
  content: "\e977";
}

.icon-master-card:before {
  content: "\e978";
}

.icon-maximize:before {
  content: "\e979";
}

.icon-members:before {
  content: "\e97a";
}

.icon-message:before {
  content: "\e97b";
}

.icon-mic-off:before {
  content: "\e97c";
}

.icon-mic-on:before {
  content: "\e97d";
}

.icon-minimize:before {
  content: "\e97e";
}

.icon-minus:before {
  content: "\e97f";
}

.icon-motivation:before {
  content: "\e980";
}

.icon-mp4:before {
  content: "\e981";
}

.icon-music-note:before {
  content: "\e982";
}

.icon-mute:before {
  content: "\e983";
}

.icon-no-photo:before {
  content: "\e984";
}

.icon-notepad:before {
  content: "\e986";
}

.icon-note-text:before {
  content: "\e988";
}

.icon-no-wifi:before {
  content: "\e989";
}

.icon-options:before {
  content: "\e98a";
}

.icon-paper-clip:before {
  content: "\e98b";
}

.icon-paper-plane:before {
  content: "\e98c";
}

.icon-paper-plane-angle:before {
  content: "\e98d";
}

.icon-parent-child:before {
  content: "\e98e";
}

.icon-parents:before {
  content: "\e98f";
}

.icon-paste:before {
  content: "\e990";
}

.icon-pause:before {
  content: "\e991";
}

.icon-pause-no-fill:before {
  content: "\e992";
}

.icon-pdf:before {
  content: "\e993";
}

.icon-phone:before {
  content: "\e994";
}

.icon-picture-in-picture:before {
  content: "\e995";
}

.icon-pie:before {
  content: "\e996";
}

.icon-pie-chart:before {
  content: "\e997";
}

.icon-play:before {
  content: "\e998";
}

.icon-play-bg:before {
  content: "\e999";
}

.icon-plus:before {
  content: "\e99a";
}

.icon-poll:before {
  content: "\e99b";
}

.icon-ppt:before {
  content: "\e99c";
}

.icon-practice-card:before {
  content: "\e99d";
}

.icon-printer:before {
  content: "\e99e";
}

.icon-privacy:before {
  content: "\e99f";
}

.icon-questions:before {
  content: "\e9a0";
}

.icon-reply:before {
  content: "\e9a1";
}

.icon-restart:before {
  content: "\e9a2";
}

.icon-reward-pack:before {
  content: "\e9a3";
}

.icon-school:before {
  content: "\e9a4";
}

.icon-search:before {
  content: "\e9a5";
}

.icon-share:before {
  content: "\e9a6";
}

.icon-share-screen:before {
  content: "\e9a7";
}

.icon-shield-ok:before {
  content: "\e9a8";
}

.icon-show:before {
  content: "\e9a9";
}

.icon-sliders:before {
  content: "\e9aa";
}

.icon-smartphone:before {
  content: "\e9ab";
}

.icon-speaker:before {
  content: "\e9ac";
}

.icon-speaker-notes:before {
  content: "\e9ad";
}

.icon-stamp:before {
  content: "\e9ae";
}

.icon-star-full:before {
  content: "\e9af";
}

.icon-status-indicator:before {
  content: "\e9b0";
}

.icon-student:before {
  content: "\e9b1";
}

.icon-student-user:before {
  content: "\e9b2";
}

.icon-swap:before {
  content: "\e9b3";
}

.icon-tachometer:before {
  content: "\e9b4";
}

.icon-tag:before {
  content: "\e9b5";
}

.icon-target:before {
  content: "\e9b6";
}

.icon-teacher:before {
  content: "\e9b7";
}

.icon-teacher-class:before {
  content: "\e9b8";
}

.icon-thumbs-down:before {
  content: "\e9b9";
}

.icon-thumbs-up:before {
  content: "\e9ba";
}

.icon-timeline:before {
  content: "\e9bb";
}

.icon-timer:before {
  content: "\e9bc";
}

.icon-trash:before {
  content: "\e9bd";
}

.icon-trending-down:before {
  content: "\e9be";
}

.icon-trending-up:before {
  content: "\e9bf";
}

.icon-twitter:before {
  content: "\e9c0";
}

.icon-txt:before {
  content: "\e9c1";
}

.icon-underline:before {
  content: "\e9c2";
}

.icon-upload:before {
  content: "\e9c3";
}

.icon-url-link:before {
  content: "\e9c4";
}

.icon-user-circle:before {
  content: "\e9c5";
}

.icon-user-fill:before {
  content: "\e9c6";
}

.icon-user-outline:before {
  content: "\e9c7";
}

.icon-user-plus:before {
  content: "\e9c8";
}

.icon-verified-note:before {
  content: "\e9c9";
}

.icon-verified-user:before {
  content: "\e9ca";
}

.icon-verve-card:before {
  content: "\e9cb";
}

.icon-videocam:before {
  content: "\e9cc";
}

.icon-video-cam-outline:before {
  content: "\e9cd";
}

.icon-video-card:before {
  content: "\e9ce";
}

.icon-video-off:before {
  content: "\e9cf";
}

.icon-video-on:before {
  content: "\e9d0";
}

.icon-visa-card:before {
  content: "\e9d1";
}

.icon-warning-alert:before {
  content: "\e9d2";
}

.icon-watch:before {
  content: "\e9d3";
}

.icon-whatsapp:before {
  content: "\e9d4";
}

.icon-wifi:before {
  content: "\e9d5";
}

.icon-wrong:before {
  content: "\e9d6";
}

.icon-xls:before {
  content: "\e9d7";
}

.icon-youtube:before {
  content: "\e9d8";
}

.icon-zoom-in:before {
  content: "\e9d9";
}