.gradely-app-container {
    position: relative;
    top: 130px;
    height: auto;
    margin-bottom: 160px !important;

    @include breakpoint-down(sm) {
        top: 110px;
        margin-bottom: 180px !important;
    }
}

.gradely-container {
    margin: 0 auto;

    @include breakpoint-up(sm) {
        max-width: 700px;
    }

    @include breakpoint-up(md) {
        max-width: 770px;
    }

    @include breakpoint-up(lg) {
        max-width: 960px;
    }

    @include breakpoint-up(xl) {
        max-width: 1250px;
    }
}